###> symfony/framework-bundle ###
.*
!.gitignore
!.env*
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/bundles/
vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
###< squizlabs/php_codesniffer ###

###> phpstan/phpstan ###
###< phpstan/phpstan ###
